extends layout

block content
  h1 Caracas Against Humanity
  p Bienvenido a Caracas Against Humanity.
  p Acá el API:
  table
    tr
      td GET
      td #[i /api/question] 
      td devuelve una carta negra.
    tr
      td GET 
      td #[i /api/questions] 
      td devuelve todas las cartas negras
    tr
      td GET 
      td #[i /api/answer] 
      td devuelve una carta blanca.
    tr
      td GET 
      td #[i /api/answers] 
      td devuelve todas las cartas blancas.
