doctype html
link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
link(href="css/styles.css", rel="stylesheet")
script(type='text/javascript', src='//code.jquery.com/jquery-2.1.4.min.js')
script(type='text/javascript', src='js/main.js')
html
  head
    title= title
  body
    block content
