body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232323;
  -webkit-font-smoothing: antialiased; }
  body h1 {
    font-size: 5rem;
    line-height: 3rem; }
  body .clear {
    clear: both;
    height: 10px; }
  body .cards {
    display: none; }
  body .white-cards, body .black-cards {
    overflow: hidden; }
  body .card {
    width: 6.32cm;
    margin: 20px;
    height: 8.6cm;
    margin: 0.3mm;
    float: left;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 8px; }
    body .card p {
      padding: 3mm 7mm 3mm 7mm; }
  body .black {
    background-color: black;
    color: white; }

#generate {
  margin-bottom: 20px; }

.api table {
  width: 100%; }

@page {
  size: A4;
  margin: 3mm; }

@media print {
  .cards {
    display: block !important; }
  .no-print, .no-print * {
    display: none !important; }
  html, body {
    width: 210mm;
    height: 297mm; }
    html .white-cards, html .black-cards, html .break, html .clear, body .white-cards, body .black-cards, body .break, body .clear {
      page-break-after: always; }
    html .card, body .card {
      width: 6.32cm;
      height: 8.6cm;
      margin: 2mm !important; }
      html .card p, body .card p {
        padding: 3mm 7mm 3mm 7mm; } }
